<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Tranquility</string>
	<key>CFBundleIdentifier</key>
	<string>com.lorenzoswank.tranquility</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://www.pixio.com/tranquilitycast.xml</string>
	<key>NSUserDefaults</key>
	<dict>
		<key>adjustBrightness</key>
		<false/>
		<key>blackColor</key>
		<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAAAAYY=</data>
		<key>brightness</key>
		<real>0.5</real>
		<key>desktopHidden</key>
		<true/>
		<key>dimMenuDuration</key>
		<string>1.0</string>
		<key>dimMenuOpacity</key>
		<string>0.0</string>
		<key>enabled</key>
		<false/>
		<key>gammaEnabled</key>
		<false/>
		<key>hueCorrect</key>
		<false/>
		<key>inverted</key>
		<true/>
		<key>lowerLightValue</key>
		<integer>100</integer>
		<key>monochrome</key>
		<true/>
		<key>shadowsHidden</key>
		<false/>
		<key>undimMenuDuration</key>
		<string>0.25</string>
		<key>undimMenuOpacity</key>
		<string>1.0</string>
		<key>upperLightValue</key>
		<integer>1000</integer>
		<key>useLightSensors</key>
		<false/>
		<key>whiteColor</key>
		<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=</data>
	</dict>
</dict>
</plist>
